--find-links https://download.pytorch.org/whl/cpu
flask==3.0.0
torch==2.1.2+cpu
torchvision==0.16.2+cpu
Pillow==10.0.0
transformers==4.36.2
sentence-transformers==2.2.2
gunicorn==21.2.0
werkzeug==3.0.0
numpy>=1.22.0
tqdm>=4.65.0